em {
  font-weight: bold
}

p {
  font-size: 22px;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

body {
  font-family: "Sans Serif";
  color: #FFCC00;
  background-color: #5C1F00;
}
